<div>
    <h3>Pet Form</h3>
    <ul>
      <li class="row">
        <input 
        type="text" 
        placeholder="Name" 
        [(ngModel)]="pet.name" 
        required 
        pattern="[A-Za-z\s\-']+" 
        title="Name should only contain letters, spaces, hyphens, and apostrophes.">
      
      <input 
        type="text" 
        placeholder="Category" 
        [(ngModel)]="pet.category" 
        required 
        pattern="[A-Za-z\s\-']+" 
        title="Category should only contain letters, spaces, hyphens, and apostrophes.">
      
      <input 
        type="number" 
        placeholder="Age" 
        [(ngModel)]="pet.age" 
        required 
        min="1" 
        pattern="^\d+$" 
        title="Age should be a positive number.">
      
      <input 
        type="number" 
        placeholder="Weight" 
        [(ngModel)]="pet.weight" 
        required 
        min="1" 
        pattern="^\d+(\.\d+)?$" 
        title="Weight should be a positive number, including decimals.">
      
      <input 
        type="text" 
        placeholder="Favorite Food" 
        [(ngModel)]="pet.favoriteFood" 
        required 
        pattern="[A-Za-z\s,.'\-]+" 
        title="Favorite Food should only contain letters, spaces, commas, periods, hyphens, and apostrophes.">
      
        <button (click)="onSubmit()">Add</button>
      </li>
    </ul>
  </div>